<div class="jumbotron">
	<h1>Welcome to my App</h1>
	<p>Welcome to the home page of the website.</p>
	<p>Click here to <%= link_to "Sign up", "http://www.google.com", class:"btn btn-success btn-lg" %></p>
</div>
